<!-- 
    template named ice_cream_list.html.
Your context should include the names, flavors (as a list of strings), and shop names of all ice creams.

 -->

<html>
    <head>
        <title>Ice Cream List</title>
    </head>
    <body>
        <h1>Ice Cream List</h1>
        <p>
        <strong>Name:</strong> {{name}}<br>
        </p>
        <!-- <p> -->
            {%for flavor in flavors%}
                <strong>Flavor:</strong> {{flavor}}<br>
            {%endfor%}
        <strong>Flavor:</strong> {{flavors}}<br>
        </p>
        <p> 
        <strong>Shops:</strong> {{shop}}<br>
        </p>
    </body>